* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #87cdb0;
  text-decoration: none;
}

body {
  background-color: white;
}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  background-color: rgba(0, 0, 0, 0.782);
  color: rgba(0, 0, 0, 0.782);
}

header h1 {
  background-color: #87cdb0;
  /*margin-left: 0px;*/
  padding: 5px;
  display: inline-block;
  
  font-size: 48px;
}

header h1 .seo {
  color: #d9dcd6;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

main {
  position: relative;
}

.banner {
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #87cdb0;
  color: rgba(0, 0, 0, 0.782);
  margin-left: 75%;
  margin-top: 8%;
  padding: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

sections {
  margin-top: 0%; /*banner height*/
}

section {
  font-size: 180%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 8% 30px 0;
  color: rgba(0, 0, 0, 0.782);
}